doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', type='text/css', href='/css/bootstrap.min.css')
    script(src='sw.js')
  body
    br
    br
    br
    .container
      h3.text-primary Currency Convertion
      hr
      form.form-inline(method='post', action='/result')
        .row
          .col-md-6
            .input-group
              input.form-control(name='amounts',type='text')
              select.form-control(name='fromCurrency')
                each bb in body
                  each bb1 in bb
                    option(value='#{bb1.id}') #{bb1.id}
              .input-group-prepend
                span.input-group-text(id='') to
              select.form-control(name='toCurrency')
                each b in body
                  each b1 in b
                    option(value='#{b1.id}') #{b1.id}
          // col
          .col-md-3
            button.btn.btn-secondary.btn-sm.btn-block(type='submit', style='padding-bottom: 5%') Convert
          // col
          .col-md-3
            input.form-control(type='text', placeholder='Press Convert button', disabled='true')
          // col
        // row

      br
      br 


      

        
        

      
